
    <table id="tabelSW" class=" table">
        <thead>
            <tr>
                <th>no</th>
                <th>name</th>
                <th>height</th>
                <th>mass</th>
                <th>hair_color</th>
                <th>gender</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
   